language: node_js
node_js:
- stable
deploy:
  api_key:
    secure: UR/eB0hTg798GKQGKha/qs5B2fzbmjtljlQgrRGg2aNfS9iTXQ88eJx7vMxG1LuQVt5XeN3kpsllwflIyjOj+0E/5zR579i06DZ2LjwJlrt4qSxcpoibGXyQIW1Ki72epC9tKwkL+0nIiWUzo5BSVtnLn2kOJOo211acmNoiZxiWJQA4LoLsYL5iZD4F4shV21VahET6zFq7JqLxfTJ6j+3hsqTVQ1cz6uPW9667NMS0x6Dbod8GHB0sFMA9JIuGy9CgckC+Ja9yl9b78/SCZQf9Wzp56Fsh6hOkUX0+4oTNwRGgG65x84vtgKx+h67MW65XYzQ9P0NyQCS7wHOgcsOATHDkflVtKzs0OAuOmQw/RljfOGaMC0aN7ztzWX4g2/IwbtGdYriTqNgtQ/32wH/OlXv8AXsGs+xGEIhU56aJBetdLq2b8J77ce5fywSisGTJW05MUNrz2Fjq3XjjgzRhPidP2WHyD6Xd7nLH7VFv+f/uOe/lGKWWLAUMSsaOXL007Av85N/fv0toPNkidl9Ka+oO6qiTOxsjy1R+fj6hYPB+ZIOZpF64CcVFKhdmEpjBCopRMmyQrJBfQB5t4+TOq43/UpcI6r7OQL09PLssc6HOtPNWlP4bgspdgFROxR34OlXbhNYIg6rDjiLShalN6zMiF6j1UslHVDfkCRU=
