language: node_js
node_js:
- node
deploy:
  provider: heroku
  api_key:
    secure: fqlN8RFqCEMWpdQDMGKSfwEN+INQuJ1zxBXmnbgvn77MJrg7w9DqQE17bgskMUt+LcSSmbb+EWeP8x7NVNW8R4+sSINOm31HdhbL2L5l7fBpt3pG1cFhKjaD0fvNt7FiRrzKh3nHdOb8O2MRqIarBJ37m60S1femXbrYczTzh3Vb2bOWYVo5LdNOj+WGPIQEkra9HYtiByLMP5ExYC3b5glISGHsPBlzQ09+06dDdJZWU1W2bc38/+cXGCKlAphZ4YSmqUpYug0mFfxou6Z/5YP5DamXsI3cJe1aHkQKn5bjx41LBAggsltoYr20v7KkLxxiWhPaWEyy85pRpp5r6ivzxoPxEs+Qq0mtPKOPHR1DUxny7K+pLUY4l6Llsl+FPDmmNfSqu6n2C5zqLHzxMqVvCjFessiaRAL7Pnk8vC9Fq2dzOXYiL9LREiDwIxko5pH78Ttg3k19KJb1yUJFdfNyA2JG46u8GGYkQLFlMibblxIsYl8Y/kq6SzMrocuvCjnJhclIPCPs2Mfk0wdKdTmOSCzA3fsW6na5cXD8qyp9wDd/eYzafIxt6pqBIgQJ+vyxfQ0tJerIiEUPZh+vIp5M9AqXufWkjC2X2lCkM6Z2MQkuEDC1Y9qidUxQ3xBWPW04T4hFv69OljxI0xwG6/eoiXmO4ZQDzkKOQC3CYR4=